<launch>
  <node pkg="tf" type="static_transform_publisher" name="world_to_cam"
	args="0 0 0.5 -1.57 0 -1.57 world leye 1" />

  <node name="ar_pose" pkg="ar_pose" type="ar_multi" respawn="false" output="screen">
    <param name="marker_pattern_list" type="string" value="data/object_4x4"/>
    <!-- <param name="marker_width" type="double" value="40.0" /> -->
    <param name="threshold" type="int" value="100"/>
    <remap from="/usb_cam/image_raw" to="/hiro/leye/image_raw" />
    <remap from="/usb_cam/camera_info" to="/hiro/leye/camera_info" />
  </node>
</launch>
