<!-- -*- mode: XML -*- -->

<launch>
  <arg name="nameserver" default="localhost:2809"/>
  <arg name="openrtm_args" value='-o "corba.nameservers:$(arg nameserver)"'/>
  <param name="/hiro/nameserver" value="$(arg nameserver)"/>
  <group ns="hiro">
    <node pkg="iv_bridges" type="seq_service_socket.py"
	  name="seq_service_socket" output="screen"
	  args="$(arg openrtm_args)"/>
  </group>
</launch>
