<launch>
  <param name="/use_sim_time" value="true"/>
  <include file="$(find move_base_stage_tutorial)/launch/move_base.launch"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find move_base_stage_tutorial)/world/willow.yaml" />
  <node pkg="stage" type="stageros" name="stageros" args="$(find move_base_stage_tutorial)/world/willow.world" respawn="false" >
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>
  <include file="$(find move_base_stage_tutorial)/launch/amcl_node.launch"/>
  <include file="$(find move_base_stage_tutorial)/launch/rviz.launch"/>
</launch>

