<!-- -*- mode: XML -*- -->

<launch>

  <group ns="hiro">

    <include file="$(find Sense)/launch/lhand.launch"/>

    <group ns="lhand">

    <!-- Pose recognition -->
    <node pkg="checkerboard_detection" type="checkerboard_pose" name="checkerboard_pose">
      <param name="base_frame" type="string"  value="base_link" />
      <param name="frame_id" type="string" value="checkerboard"/>
      <param name="marker_ns" type="string" value="checkerboard"/>
      <param name="pose_file" value="$(find checkerboard_detection)/cfg/pose.yml" />
      <param name="read_pose_file" type="bool" value="false"/>
      <param name="service_name" type="string" value="pose" />
      <param name="draw_debug_image" type="bool" value="true"/>
      <param name="publish_tf_link" type="bool" value="true"/>
      <param name="publish_rviz_marker" type="bool" value="true"/>
      <param name="publish_last_success" type="bool" value="true"/>
      <param name="publish_camera_pose" type="bool" value="false"/>
      <param name="use_sub_pixel" type="bool" value="true"/>
      <param name="checkerboard_width" type="int" value="7"/>
      <param name="checkerboard_height" type="int" value="6"/>
      <param name="checkerboard_box_width" type="double" value="-0.015"/>
      <param name="checkerboard_box_height" type="double" value="0.015"/>
      <param name="frame_rate" value="10" />
      <param name="skip_frames" value="1" />
      <remap from="image" to="usb_cam/image_raw" />
      <remap from="camera_info" to="usb_cam/camera_info" />
    </node>

    </group>

  </group>

</launch>
