<!-- -*- mode: XML -*- -->

<launch>

  <group ns="hiro">

    <param name="nameserver" type="string" value="hiro014"/>

    <include file="$(find Sense)/launch/rhand.launch"/>
    <include file="$(find Sense)/launch/lhand.launch"/>
    <include file="$(find Sense)/launch/ar_pose.launch"/>

    <!-- <include file="$(find Sense)/launch/sense_hiro_reye.launch"/> -->
    <!-- <include file="$(find Sense)/launch/sense_hiro_leye.launch"/> -->
    <!-- <include file="$(find Sense)/launch/sense_hiro_meye.launch"/> -->

    <!-- <include file="$(find SequencePlayerService)/launch/seq_service.launch"/> -->

    <!-- <node pkg="JointStatePublisher" type="joint_state_publisher.py" -->
    <!--       name="joint_state_publisher" args="-f $(find iv_plan)/conf/rtc.conf"/> -->

  </group>

</launch>
